.mat-button {
  color: rgb(31, 24, 24);
  background-color: rgb(240, 182, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 60px;
  margin-top: 100;
}
.fondo {
  background-color: rgb(175, 241, 241);
}
